body {
	font-family: Arial;
	background-color: #000;
	color: #fff;
	margin: 0;
}
#container {
	display: flex;
	flex-direction: column
	text-align: center;
	align-items: center;
}
@media screen and (min-width: 1025px) { body { font-size: 72pt; }}
@media screen and (max-width: 1024px) { body { font-size: 48pt; }}
@media screen and (max-width: 600px)  { body { font-size: 24pt; }}
div.couple + div.couple {
    margin-top: 32px;
    border-top: 1px solid white;
    padding-top: 32px;
}
